:root {
    --light-brown: #bf783a;
    --dark-brown: #3f231a;
    --blush:#d9a835;
    --yellow: #d4aa32
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.container {
    display: flex;
    flex-direction: column;
}

.container form {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 70px 30px 50px 30px;
    width: 350px;
    margin: auto;
    background-color:var(--blush);
    border-radius: 20px;
    color: var(--dark-brown);
    font-size: 17px;
    font-weight: 800;
    font-family: monospace;
    transform: translateY(-50px);
}

form input {
    outline: none;
    border: none;
    border-bottom: 3px solid var(--dark-brown);
    background-color: transparent;
    /* color: var(--blush); */
    transition: all .2s ease-in-out;

}

form input:hover {
    border-bottom: 3px solid wheat;

}


::placeholder {
    color: #8a6953;
    font-size: 13.5px;
    /* transition: all .2s ease-in-out; */
}

:focus {
    color:wheat;
    border-bottom: 3px solid wheat;
}

.form-btn {
    background-color: var(--dark-brown);
    color: var(--blush);
    border-radius: 20px;
    border: none;
    font-weight: bold;
    padding: 5px 50px;
    font-size: 17px;
    transition: all .2s ease-in-out;
}

.form-btn:hover {
    background-color: var(--light-brown);
    color: var(--dark-brown);
}

.giraffe-img {
    width: 350px;
    height: 350px;
    /* position: absolute; */
    transition: all .1s ease-in-out;

}

.paw-l:before,
.paw-l:after,
.paw-r:before,
.paw-r:after {
    position: absolute;
    content: "";
    z-index: 9999;
    width: 35px;
    height: 50px;
    /* background-color: #553828; */
    background: -webkit-linear-gradient(bottom, var(--light-brown) 60%, var(--dark-brown) 50%);
    border-radius: 100px 100px 0 0;
    transform: rotate(180deg);
}

.paw-l:before,
.paw-l:after {
    transform-origin: 0 -20%;
    left: 62px;
}

.paw-r:before,
.paw-r:after {
    transform-origin: 0 -20%;
    left: 320px;

}